html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    width: 0;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.m-header {
    flex: 0 0 50px;
    background: #58B7FF;
    margin-bottom: 0;
}

.m-container {
    padding: 0;

    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.m-sidebar {
    flex: 0 0 300px;
    box-shadow: 3px 0 3px #ccc;
    background: #f3f3f3;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.m-content {
    flex-grow: 1;
    background: #D3DCE6;
}

.m-tab {
    padding: 0;
    margin: 0;
    flex: 0 0 40px;
    line-height: 40px;
}

.m-tab-item {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.m-tab-item.selected {
    border-bottom: 2px solid #13CE66;
}

.m-sidebar-content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.m-sidebar-toolbar {
    flex: 0 0 40px;
    background: #ccc;
}

.m-sidebar-list {
    flex-grow: 1;
    background: blue;
    overflow: auto;
}