<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/projectTree.css">
    <!-- angularjs放在前面, 防止页面闪烁 -->
    <script type="text/javascript" src="/static/bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/bower/angular-route/angular-route.min.js"></script>
</head>
<body class="flexbox">
<header class="navbar navbar-static-top m-header"></header>
<div class="container m-container">
    <div class="m-sidebar" ng-controller="sidebarController">
        <ul class="m-tab clearfix">
            <li class="m-tab-item {{sidebar.class.history}}" ng-click="switchTab(sidebar.tab.history)">历史记录</li>
            <li class="m-tab-item {{sidebar.class.project}}" ng-click="switchTab(sidebar.tab.project)">项目</li>
        </ul>
        <div ng-include="sidebar.url" class="m-sidebar-content"></div>
    </div>
    <div class="m-content"></div>
</div>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/config/route.js"></script>
<script type="text/javascript" src="/static/js/services/projectService.js"></script>
<script type="text/javascript" src="/static/js/controllers/sidebarController.js"></script>
</body>
</html>